.about{
    width: 100%;
    margin: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}
.about .content {
    text-align: center;
    margin: auto;
    padding: 1rem;
    max-width: 350px;

}
.about .content p{
 margin: 1.3rem 0;
}

.right .img{
    max-width: 90%;
    border: 1px solid #333;
}
.content .abtbtn{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}
.btn1{
    padding: 3px 32px;
    font-size: 1rem;
    text-transform: uppercase;
    background: rgb(248, 217, 15);
    color: #222;
    border:1px solid #fff;
    font-weight:600;
    cursor:pointer;
    
}
.btn1:hover{
    background: rgb(255, 255, 255, 0.2);
    color:#fff;
    transition:0.3s;
}
