.profile-img{
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    height: 60vh;
    position: relative;

} 
 .profile-img::before{
    content: "";
    background: url("../image/1000739223.jpg");
    background-size: cover;
    background-position: center top;
    height: 100%;
    width: 100%;
    position: absolute; 
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.3;
}



.profileimg img{
    position:relative;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 50%;
    border: #fff solid;
    height:60%;
    width: 30%;
        /* flex-direction: column;
        align-items:center ; */
    

}
.profileimg{
    display: flex;
    justify-content: center;
    margin: auto;
    height: 100%;
   
}
@media (max-width: 640px)  {
 h1{
    font-size: 2rem;
    
}
.profileimg img{
height:60%;
width: 40%;
}
}
 @media (min-width: 800px)  {
    
    .profileimg img{
    height:60%;
    width: 20%;
    }
    }
    
/* @media (min-width: 800px) and (max-width: 1024px) {
    .profileimg img{
        height:50%;
        width: 20%;
        }
}  */
